:root {
  --primary: #26294c;
  --secondary: #d2d4eb;
  --detail: #fff8e7;
  --white: white;
}

$couleur-test: #26294c;
$couleur-detail: #f0f5f9;

body {
  background: #f0f5f9;
}

.radius {
  border-radius: 10px;
}

.first {
  text-align: center;
  color: #f0f5f9;
  margin-top: 16px;
}

#form {
  padding: 20px;
  background-color: $couleur-test;
  border-radius: 10px;

  // .ligne {
  //   display: flex;
  //   margin-bottom: 10px;

  p {
    margin: 0 5px;
    padding: 5px;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-size: 16px;

    input {
      width: 100%;
      border: 10px;
      outline: none;
    }
  }
  // }
  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }
  p {
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    color: black;

    input {
      width: 100%;
      border: none;
      outline: none;
    }
  }

  .form-select {
    width: 62%;
  }

  button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: rgba(38, 41, 76, 0.4);
    color: var(--white);
  }
}

@media (max-width: 767px) {
  .login {
    background-color: var(--secondary);
    height: 100vh;
    overflow: hidden;
  }
  .login h1 {
    margin: 0;
  }
  body {
    background-color: var(--primary);
    font-family: "Oswald", sans-serif;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
  }
  header {
    margin: 0px 16px;
  }
  p {
    font-family: "inter", sans-serif;
  }
  .box {
    margin-top: 40px;
    border-radius: 25px 25px 0px 0px;
    background: rgba(210, 212, 235, 0.1);
    padding: 21px;
    margin-right: 24px;
    margin-left: 24px;
  }
  .box h1 {
    color: var(--detail);
    text-align: center;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .box p {
    color: rgba(240, 245, 249, 0.9);
    font-size: 16px;
  }
  .box button {
    padding: 8px 16px;
    border-radius: 30px 0px 30px 30px;
    background: rgba(240, 245, 249, 0.25);
    color: var(--white);
  }

  .footerbox {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 25px 34px;
  }
  footer {
    height: 74px;
    border-top: 1px solid rgba(240, 245, 249, 0.1);
    padding: 0;
    position: static;
    bottom: 0;
    width: 100vw;
  }
  .vector {
    width: 24px;
    height: 24px;
  }

  section {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 32px 0px;
  }

  .left-side {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .left-side .vertical-text {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  span {
    width: 1px;
    height: 64px;
    background: #fff;
  }

  .posts-box {
    width: 37vw;
    height: 36vh;
    border-radius: 0px 39px 0px 0px;
    background: var(--detail);
    display: flex;
    flex-direction: column;
    padding: 13px;
    text-align: start;
  }

  .right-side {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    width: 100%;
  }
  .logo-post {
    border-bottom: rgba(255, 255, 255, 0.825) 1px solid;
  }
  .post {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 16px;
    justify-content: center;
    /* margin-top: 40px; */
    color: var(--detail);
  }
  .post p {
    margin: 0;
    font-size: 16px;
    font-family: "inter", sans-serif;
    color: black;
    /* text-align: center; */
  }
  .post a {
    text-decoration: none;
    color: #53616c;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
  }
  .box a {
    text-decoration: none;
    color: var(--white);
  }
  .box-form {
    width: 341px;
    height: 57px;
    border-radius: 15px;
    background: rgba(201, 214, 223, 0.3);
    box-shadow: 0px 0px 3px 1px #f0f5f9;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .login-logo {
    display: flex;
    justify-content: center;
    padding-top: 32px;
  }
  .contain-form {
    background-image: url(/src/assets/img/blue-form.png);
    background-size: cover;
    height: 76vh;
    display: flex;
    flex-direction: column;
    gap: 69px;
    align-items: center;
  }
  .contain-form p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .welcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    margin-left: 81px;
    color: white;
    width: 244px;
    height: 86px;
    gap: 8px;
    // padding: 16px;
  }
  .welcoming h1 {
    color: #fff;
    font-family: "Oswald";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
  }
  .welcoming p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .form p {
    margin: 0;
  }
  .labele {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  label {
    display: flex;
    gap: 8px;
    padding-left: 8px;
  }
  .form p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
  }
  .btn-form {
    width: 341px;
    height: 57px;
    border-radius: 25px;
    background: rgba(210, 212, 235, 0.9);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  .create-logo {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .contain-create p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
  }
  .welcoming-create {
    width: 244px;
    height: 86px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .welcoming-create h1 {
    color: #fff;
    font-family: "Oswald";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  .welcoming-create p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .contain-create {
    display: flex;
    flex-direction: column;
    gap: 130px;
    align-items: center;
    height: 100vh;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .col-left-top {
    width: 172px;
    height: 233px;
  }
  .col i {
    color: #fff;
    font-size: 56px;
  }
  .col-right-t {
    width: 181px;
    height: 161px;
  }
  .col-right-b {
    width: 172px;
    height: 233px;
  }
  .col-left-b {
    width: 181px;
    height: 161px;
    margin-top: 17%;
  }
  .col {
    border-radius: 10px;
    background: rgba(240, 245, 249, 0.15);
  }
  .row {
    margin-bottom: -12%;
    gap: 16px;
  }
  .container {
    padding: 38px;
  }
  .marine {
    color: #fff;
    font-family: "Oswald";
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding-top: 8px;
  }
  .container-mar {
    padding: 8px;
  }
  .container-mar-all {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .marine-box {
    width: 90vw;
    height: fit-content;
    border-radius: 10px;
    background: rgba(240, 245, 249, 0.1);
    padding: 16px;
    color: var(--white);
  }
  .marine-content h3 {
    display: flex;
    justify-content: space-between;
  }

  .cv {
    width: 90vw;
    height: fit-content;
    border-radius: 10px;
    background: rgba(240, 245, 249, 0.1);
    padding: 16px;
    color: var(--white);
  }
  .dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 16px;
    justify-content: center;
    height: 41vh;
    background-color: #d2d4eb;
    width: 80vw;
    position: absolute;
    top: 30%;
    left: 11%;
    border-radius: 10px;
  }
  .dash-elements {
    display: flex;
    flex-direction: row;
    width: 56vw;
    height: 6vh;
    border-radius: 10px 10px 90px 10px;
    background: rgba(38, 41, 76, 0.4);
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 8px;
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
  .bi-arrow-right-circle {
    display: flex;
    font-size: 40px;
    justify-content: flex-end;
  }
}
